<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - MoneyFlow</title>
    <link rel="stylesheet" th:href="@{../static/css/user-dashboard-style.css}">
</head>
<body>
<div class="header">MoneyFlow</div>
<div class="dashboard-container">
    <h1>Welcome to your Dashboard Admin!</h1>
    <div class="section">
        <span sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}" class="button">Logout</a>
        </span>
    </div>
</div>
</body>
</html>
