<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - MoneyFlow</title>
    <link rel="stylesheet" th:href="@{/css/user-dashboard-style.css}">
</head>
<body>
<div class="header">MoneyFlow</div>
<div class="dashboard">
    <!-- Sidebar - Expense Actions -->
    <div class="sidebar">
        <h2>Expense Actions</h2>
        <a th:href="@{/expenses/new-expense}" th:onclick="'return checkBudget(' + ${user.budget} + ');'">New Expense</a>
        <a href="/edit-expense">Edit Expense</a>
        <a href="/delete-expense">Delete Expense</a>
        <a href="/new-budget">New Budget</a>
    </div>

    <!-- Main dashboard content -->
    <div class="main-content">
        <h1>Welcome to your Dashboard, [[${user.getUserFirstName()}]]!</h1>
        <div class="budget">Your Budget: $<span th:text="${user != null && user.budget != null ? #numbers.formatDecimal(user.budget, 1, 2) : '0.00'}"></span></div>

        <table class="expense-grid">
            <thead>
            <tr>
                <th>Category</th>
                <th>Payee</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <!-- Add rows dynamically here -->
            </tbody>
        </table>
    </div>
    <!-- Sidebar - User Settings -->
    <div class="sidebar">
        <h2>User Settings</h2>
        <a href="/edit-first-name">Edit First Name</a>
        <a href="/edit-last-name">Edit Last Name</a>
        <a href="/edit-email">Edit Email</a>
        <a href="/edit-password">Edit Password</a>
        <a href="/logout">Logout</a>
    </div>
</div>


    <script>
        function checkBudget(userBudget) {
            if(userBudget == null || userBudget <= 0) {
                alert("BUDGET MUST BE GREATER THAN $0 TO BEGIN RECORDING EXPENSES!")
                console.error("Budget is null or less than or equal to 0.")
                return false;
            }
            console.log('HELLO WORLD!');
            return true;
        }
    </script>

</body>
</html>
