<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - MoneyFlow</title>
    <link rel="stylesheet" th:href="@{../css/welcome-style.css}">
</head>
<body>
<div class="header">MoneyFlow</div>
<div class="welcome-container">
    <h1>Welcome to MoneyFlow!</h1>
    <p>Your reliable tool for financial management.</p>
    <a href="/login" class="button">Login</a>
    <a href="/registration" class="button">Register</a>
    <ul>
        <li>Set a budget for your finances and easily track it.</li>
        <li>Add your expenses to keep a record of your spending habits.</li>
        <li>Organize your spending by categories like groceries, utilities, entertainment, and more.</li>
        <li>Watch your budget decrement automatically as you log new expenses.</li>
        <li>Support for multiple currencies, making it ideal for travelers or international financial planning.</li>
    </ul>
</div>
<footer>
    <p>Need help? Contact us at <a href="mailto:support@moneyflow.com">support@moneyflow.com</a></p>
    <p>Follow us on <a href="#">Social Media</a></p>
    <p><a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a></p>
</footer>
</body>
</html>
